html {
  margin: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

/* Core layout */

.site_wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

header,
main,
footer {
  padding: 2em;
}

/* Text utils */

.t-sans {
  font-family: sans-serif;
  color: black;
  font-size: 18px;
}

/* cmp: Header */

header h1 {
  margin: 0;
}

/* cmp: Main */

main {
  flex-grow: 1;
  border: 4px dotted pink;
  background-color: rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
}

/* cmp: Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
